@import url("https://fonts.googleapis.com/css?family=Fira+Mono&display=swap");

:root {
  --ImperialR: #E63946; /*Imperial Red*/
  --Honeydew: #F1FAEE; /*Honeydew*/
  --PowerB: #A8DADC; /*Power Blue*/
  --PrussianB: #1D3557; /*Prussian Blue*/
  --CeledonB: #457B9D; /* Celedon Blue*/
  --Gray: #d7dadb; /* Gray*/

	--primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  
  --white: #FFFFFF;
  --grayLight-1: #E4EBF5;
  --grayLight-2: #c8d0e7;
  --grayLight-3: #bec8e4;
  --grayDark: #9baacf; 
}

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: "Fira Mono", monospace, sans-serif;
  outline: none;
}

html {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background: var(--grayLight-1);
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calculator {
	background-color: var(--grayLight-1);
  padding: 30px 35px;
	width: min-content;
  border: none;
  border-radius: 15px;
	box-shadow: 5px 5px 10px var(--grayLight-2),
	-3px -3px 8px var(--white);
}

#display {
  width: 100%;
  height: 90px;
	border: none;
  border-radius: 30px;
	/* box-shadow: inset 3px 3px 10px var(--grayLight-2),
	inset -3px -3px 8px var(--white); */
	background: none;
 }

#keys {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
  background: none;
}

 input#expression {
  width: 100%;
  height: 40%;
  padding: 15px;
  text-align: left;
  font-size: 25px;
  border: none;
  border-radius: 30px 30px 0px 0px;
	color: var(--primary-light);
  font-style:italic;
	background: inherit;
 }

input#result {
  width: 100%;
  height: 60%;
  padding: 15px;
  text-align: right;
  border: none;
  border-radius: 0px 0px 30px 30px;
  font-size: 35px;
	color: var(--primary-dark);
	background: inherit;
 }

input#expression::placeholder {
	color: var(--grayLight-3);
  font-style: italic;
}
input#result::placeholder {
	color: var(--grayLight-3);
}

button:not(#clear, #equals) {
	width: 80px;
}

button {
  place-items: center;
	height: 80px;
	border: none;
	margin: 5px;
  cursor: pointer;
	background-color: var(--grayLight-1);
  font-weight: bold;
  font-size: 35px;
  /* border-radius: 15px; */
	color: var(--grayDark);
	border-radius: 50%;
	/* box-shadow: 5px 5px 10px var(--grayLight-2),
	-3px -3px 8px var(--white); */
 }

#clear, #equals {
  grid-column: span 2;
	border-radius: 60px;
}

/* .operator, #equals {
  background: var(--ImperialR);
}
.number {
  background: var(--CeledonB);
}

#clear, #back {
  background: var(--PowerB);
} */

/* [id="division"] {
  border-radius: 0 30px 0 0;
} */

/* [value="0"] {
  border-radius: 0 0 0 30px;
} */

#equals, #back {
  font-size: 45px;
}

button:hover {
  color: var(--primary);
}

button:active {
	color: var(--primary-dark);
  /* border-radius: 30px; */
	/* box-shadow: inset 3px 3px 10px var(--grayLight-2), */
	/* inset -3px -3px 8px var(--white); */
	/* box-shadow: 5px 5px 10px var(--grayLight-2),
	-3px -3px 8px var(--white); */
}
